.discus-content{
    width: 100%;
}

.pagination-container {
    display: block;
    width: 100%;
    text-align: center;
}


.page-number {
    margin: 10px;
    text-align: center;
}

.box-button-pagination {
    display: inline-block;
    width: 20px;
}

.content-box {
    h1 {
        display: block;
        text-align: center;
        width: 100%;
    }
}