/*--------------SIDE NAV ----*/
/* The side navigation menu */
@media only screen and (min-width : 769px) {
    #mySidenav{
        display: none;
    }
}

@media only screen and (max-width : 768px) {
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #ffffff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px; /* Place content 60px from the top */
        transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        transition: 0.1s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

}


.discus-content{
    width: 100%;
}

.pagination-container {
    display: block;
    width: 100%;
    text-align: center;
}


.page-number {
    margin: 10px;
    text-align: center;
}

.box-button-pagination {
    display: inline-block;
    width: 20px;
}

.content-box {
    h1 {
        display: block;
        text-align: center;
        width: 100%;
    }
}

.post-title {
    a:hover {
        font-weight: 100;
    }
}