---
layout: default
---
<div class="navbar">
  <a href="javascript:void(0)" class="menu-hamburger" onclick="openNav()"><i class="fa fa-bars"></i></a>
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <header>
    <div class="about">
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}">
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
    {% include social.html %}
    <div class="menu-content">
      <ul class="menu-list">
        <li class="menu-item"><a href="{{site.baseurl}}/">HOME</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/about/">SOBRE</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/tags/">ASSUNTOS</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/favorites/">FAVORITOS</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/following/">SEGUINDO</a></li>
      </ul>
    </div>
  </header> <!-- End Header -->
</div>

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
    <div class="menu-content">
      <ul class="menu-list">
        <li class="menu-item"><a href="{{site.baseurl}}/">HOME</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/about/">SOBRE</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/tags/">ASSUNTOS</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/favorites/">FAVORITOS</a></li>
        <li class="menu-item"><a href="{{site.baseurl}}/following/">SEGUINDO</a></li>
      </ul>
    </div>
  </header> <!-- End Header -->
  <footer>
    {% include social.html %}
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div id="main" class="content-box clearfix">
  {{ content }}
</div>

<script>
  /* Open the sidenav */
  function openNav() {
      document.getElementById("mySidenav").style.width = "100%";
  }

  /* Close/hide the sidenav */
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
  }

</script>